div{margin: 0 padding: 0}

html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div{
margin: 0;
padding: 0;
border:none;
outline:none;
list-style-type:none;
}

html{
  position: relative;
  min-height: 100%
}

body{
  background-color: rgba(0, 125, 125, 0.01);
}

.imgheader{
  margin-top: -15px;
}

.titulo{
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
  padding-top: 100px;
}

.confirmacaoEmail{
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
  padding-top: 100px;
}

.rodape{
  text-align: center;
  background-color: rgba(125, 125, 125, 0.3);
  margin-top: 17%;
  padding: 20px;
}

.parceiros img{
  margin-left: 20px;
}

.inscricao{
  text-align: center;
  padding: 10px;
}

.upload{
  padding: 4%;
}


.logo_watermark{
  opacity: 0.2;
  top: 30%;
  left: 65%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -55;
}

.logo_watermark_cad{
  opacity: 0.2;
  top: 50%;
  left: 65%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -55;
}

.resultado{
/*  margin: 0 auto;
  padding-left: 10%;*/

}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
